<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>ScrumYourself</title>
 </head>
<body>
    <div class="well">
       <h2>{{scrum.projectName}}</h2>
    </div>
    <ul class="nav nav-tabs" id="comp-tabs">
        <li class="active"><a href="#background" data-toggle="tab">Background</a></li>
        <li><a href="#tasks" data-toggle="tab">Tasks</a></li>
        
    </ul>
    <div id="scrum-content" class="tab-content">
    
    <div class="tab-pane active" id="background">
        <div class="panel-content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row marketing">
                        <div class="col-lg-6">
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">Project Name
                                    </span>
                                    <input type="text" class="form-control" ng-model="scrum.projectName">
                                </div>
                                <!-- /input-group -->
                                <div class="sub-panel-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">Start Date
                                        </span>
                                        <input type="date" class="span2 form-control" id="startDate" ng-model="scrum.startDate" required>
                                        <span class="input-group-addon">End Date
                                        </span>
                                        <input type="date" class="span2 form-control" id="endDate" ng-model="scrum.endDate" required>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div ng-controller="teamCtrl">
                                <form ng-submit="addTeamMember()">
                                    <div class="input-group col-lg-9">
                                        <span class="input-group-addon">Team Member</span>
                                        <input type="text" class="form-control" ng-model="scrum.team.memberName">
                                        <span class="input-group-addon">Capacity</span>
                                        <input type="number" class="form-control" ng-model="scrum.team.memberCapacity">
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="add">
                                    <div class="sub-panel-content">
                                        <div class="panel panel-default">
                                            <table class="table">
                                                <th>Team Member</th>
                                                <th>Capacity for This Sprint</th>
                                                <tr ng-repeat="member in members">
                                                    <td>{{member.memberName}}</td>
                                                    <td>{{member.memberEmail}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <!-- /input-group -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>
                
            <div class="project-dates">
                {{scrum.startDate}} - {{scrum.endDate}}
            </div>

               
        </p>

    </div>
        
              <div class="tab-pane" id="tasks">
            <div class="panel-content">
                <div class="panel panel-default">
                    @*<div class="panel-heading"></div>*@
                    <div class="panel-body">
                        <div class="row panel-content">

                            <div class="col-lg-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Prod hrs.
                                    </span>
                                    <input type="number" class="span2 form-control" id="prodHours" ng-model="scrum.productiveHours" required>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
        <link href="~/Content/datepicker.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="~/Scripts/js/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/lib/angular/angular.js"></script>
        <script src="~/Scripts/lib/angular/angular-route.js"></script>
        <script src="~/Scripts/js/scrum.js"></script>
</body>
</html>
